assembly-versioning-scheme: MajorMinorPatch
mode: ContinuousDeployment
tag-prefix: '[vV]'
continuous-delivery-fallback-tag: 
major-version-bump-message: '\+semver:\s?(breaking|major)'
minor-version-bump-message: '\+semver:\s?(feature|minor)'
patch-version-bump-message: '\+semver:\s?(dev|patch)'
legacy-semver-padding: 4
build-metadata-padding: 4
commit-message-incrementing: Enabled
next-version: 1.4.0
branches:
  master:
    mode: ContinuousDeployment
    tag: dev
    increment: none
    track-merge-target: false
  releases?[/-]:
    mode: ContinuousDeployment
    tag: release
    increment: None
    prevent-increment-of-merged-branch-version: false
    track-merge-target: false
